
html, body {
    height: 100%;
    background-color: #868f74;
}

h3 {
    background-color: #f7ba8e;
}

.candle-item {
    /* #868f74 */
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #5F6451;
    color: #F9FFE7;
}

/*.img-candleslist {
    width: 65px;
    height: 65px;*/
    /* object-fit: contain; */
/*}*/

.add-candle {
   /* background-color: #c4bda7;
    color: #000000;*/
    background-color: #F9FFE7; 
    color: #5F6451;
   font-size: 1.2rem;
}

.lighter-back {
    background-color: #919A7E;
}

.animate-display-to-down {
    transition: ease 1s;
}


@media (min-width: 641px) {
    .desktop-display {
        cursor: pointer;
    }

    .img-candleslist {
        height: 65px;
        width: 80px;
    }
}



@media (max-width: 640.98px) {
    .desktop-display {
        display: none;
    }

    .img-candleslist {
        width: 65px;
        height: 65px;
        /* object-fit: contain; */
    }
}





    /* ANIMATION */
    /* HIDDEN - to not display from the top when moving */
    .wrapper {
        overflow: hidden;
    }

    .expandable {
        animation: display-down 0.3s ease;
    }

    @keyframes display-down {
        0% {
            margin-top: -100%;
        }

        100% {
            margin-top: 0;
        }
    }