@inject NavigationManager navManager;

<div class="container">
	<button type="button" class="btn btn-lg btn-outline-light rounded-pill" @onclick="PerformNavigation">
		<span class="oi oi-caret-left"></span>
		@Text
	</button>
</div>

@code {
	[Parameter]
	public string FromPageReached { get; set; } = "";

	[Parameter]
	public string Text { get; set; } = "";

	public void PerformNavigation()
	{
		navManager.NavigateTo(FromPageReached);
	}
}
