@inject NavigationManager navManager;

<div class="container">
	<button type="button" class="btn @ButtonClass rounded-pill" @onclick="PerformNavigation">
		<span class="oi oi-caret-left"></span>
		@Text
	</button>
</div>

@code {
	[Parameter]
	public string FromPageReached { get; set; } = "/";

	[Parameter]
	public string Text { get; set; } = "Назад";

	[Parameter]
	public string ButtonClass { get; set; } = "btn-outline-light";

	public async Task PerformNavigation()
	{
		// to show user that something happens
		await Task.Delay(100);
		navManager.NavigateTo(FromPageReached);
	}
}
