@page "/note/overview"
@inject NoteHandlerService noteHandler;
@inject NavigationManager navManager;




<div class="container">
	<div class="row">
		<div class="col">
			<div class="d-grid d-flex gap-2 mx-lg-1">
				<button class="btn btn-secondary" @onclick="NewNoteClicked">Додати новий запис</button>
				<button class="btn" type="button" @onclick="() => {}">
					<span class="bi bi-gear-wide"></span>
				</button>
			</div>
		</div>
	</div>

</div>

<hr />

<div class="container">
	<div class="row">
		<div class="d-grid">
			<button class="text-start btn border border-dark" @onclick="(e) => ChangeSectionOpened(e, true)">
				@if (FirstSectionOpened)
				{
					<span class="bi bi-chevron-down"></span>
				}
				else
				{
					<span class="bi bi-chevron-right"></span>
				}
				Дата
			</button>
		</div>
	</div>
</div>

@if (FirstSectionOpened)
{

	<div class="container">

		<div class="row pt-2" style="margin: auto">
			<div class="d-grid mx-auto col-auto">
				<InputDate @bind-Value=ActiveDate class="form-control" />
			</div>
		</div>

		@foreach (var note in AllNotes)
		{
			@if (note.NoteDate == DateOnly.FromDateTime(ActiveDate))
			{
				<div class="row m-auto">
					<div class="col">
						<SingleNote Note="note"/>
					</div>
					
				</div>
			}
		}
	</div>
}

<hr />

<div class="container">
	<div class="row">
		<div class="d-grid">
			<button class="text-start btn border border-dark" @onclick="(e) => ChangeSectionOpened(e, false)"> 
				@if(SecondSectionOpened)
				{	
					<span class="bi bi-chevron-down"></span>
				}
				else
				{
					<span class="bi bi-chevron-right"></span>
				}
				Всі записи</button>
		</div>
	</div>
</div>

@if (SecondSectionOpened)
{
	<div class="container">
		<div class="row" style="margin: auto">
			<div class="col">


		<!-- if the All Notes were loaded then we are ready to go through notes -->
		@if (_allowedToDoForLoop)
		{
			@for (DateOnly d = DateOnly.FromDateTime(DateTime.Now); d < _maxDate; d = d.AddDays(1))
			{
				@if (AllNotes.Any(n => n.NoteDate == d))
				{
					<div class="row pt-2">
						<div class="col fw-bold bg-body bg-opacity-10">
							@d.ToLongDateString()
						</div>
					</div>


					foreach (var note in AllNotes.Where(n => n.NoteDate == d))
					{
						<div class="row">
							<div class="col">
								<SingleNote Note="note" />
							</div>
						</div>
					}

				}
			}
		}
			</div>

		</div>

	</div>
}

@code {
	public ICollection<NoteVM> AllNotes { get; set; } = new List<NoteVM>();

	private string _url = "api/note";

	public DateTime ActiveDate { get; set; } = DateTime.Now;

	private DateOnly _maxDate = DateOnly.FromDateTime(DateTime.Now.AddYears(1));

	private bool _allowedToDoForLoop = false;

	// sections to be expanded
	// first - With main calendar and chosen date
	// second - all notes
	public bool FirstSectionOpened { get; set; } = true;
	public bool SecondSectionOpened { get; set; } = false;

	protected override async Task OnInitializedAsync()
	{
		AllNotes = await noteHandler.GetAllNotes(_url);
		_maxDate = GetMaxDateFromNotes(AllNotes);
		_allowedToDoForLoop = true;
	}

	public void NewNoteClicked()
	{
		navManager.NavigateTo("/note/new");
	}

	public DateOnly GetMaxDateFromNotes(ICollection<NoteVM> notes)
	{
		if (notes.Any())
		{
			List<DateOnly> dates = notes.Select(x => x.NoteDate).ToList();
			return dates.Max();
		}

		return DateOnly.FromDateTime(DateTime.Now.AddYears(1));
	}


	// to display single day or all notes depending on what button pressed
	private void ChangeSectionOpened(MouseEventArgs args, bool first)
	{
		// called at first section 
		if(first)
		{
			FirstSectionOpened = !FirstSectionOpened;
			if(SecondSectionOpened)
			{
				SecondSectionOpened = !SecondSectionOpened;
			}
		}

		// called at second section
		else
		{
			SecondSectionOpened = !SecondSectionOpened;
			if(FirstSectionOpened)
			{
				FirstSectionOpened = !FirstSectionOpened;
			}
		}
	}
}
