@page "/expense"
@inject ExpenseHandlerService expenseHandler;

<div class="container">
	<div class="container">

		<h3>Витрати</h3>
	</div>


	<div class="row mb-2">
		<div class="form-floating">
			<InputText class="form-control" @bind-Value="NewExpenseForm.Description" placeholder="Опис" id="floatingDescription" />
			<label for="floatingDescription">Опис</label>
		</div>
	</div>

	<div class="row">
		<div class="input-group mb-2">
			<InputDate class="form-control text-center" @bind-Value="NewExpenseForm.Date" />
			<span class="input-group-text">Сума</span>
			<div class="col-3">
				<InputNumber class="form-control text-end" @bind-Value="NewExpenseForm.Cost" />
			</div>
			<span class="input-group-text">₴</span>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="d-grid">
				<button class="btn btn-sm btn-secondary" @onclick="AddExpenseClick">Додати витрату</button>
			</div>
		</div>
	</div>
</div>

<hr />

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Date</th>
			<th>Sho</th>
			<th>Sum</th>
		</tr>
	</thead>
</table>
<tbody>

	@foreach (var expense in Expenses)
	{
		<tr>
			<td>@expense.Id</td>
			<td>@expense.Date</td>
			<td>@expense.Description</td>
			<td>@expense.Cost</td>
		</tr>
	}

</tbody>



@code {

	private string _url = "api/expense";

	public List<ExpenseVM> Expenses { get; set; } = new List<ExpenseVM>();

	public List<ExpenseVM> AllExpenses { get; set; } = new List<ExpenseVM>();

	public NewExpenseFormModel NewExpenseForm { get; set; } = new NewExpenseFormModel { Date = DateOnly.FromDateTime(DateTime.Now) };

	protected override async Task OnInitializedAsync()
	{
		AllExpenses = (List<ExpenseVM>)await expenseHandler.GetExpensesAsync(_url);
		Expenses = AllExpenses;
	}

	public async Task AddExpenseClick()
	{
		var expense = new ExpenseVM()
			{
				Cost = NewExpenseForm.Cost,
				Date = NewExpenseForm.Date,
				Description = NewExpenseForm.Description
			};

		await expenseHandler.AddExpenseAsync(_url, expense);
		Expenses.Add(expense);
	}
}
