


<div class="container">
	<div class="row">
		<label class="col">
			Дата
		</label>
		<div class="col">
			<InputDate @bind-Value="NoteFormModel.NoteDate" class="form-control"/>
		</div>
	</div>


	<div class="row">
		<label class="col">
			Текст
		</label>
		<div class="col">
			<InputText @bind-Value="NoteFormModel.NoteText" class="form-control"/>
		</div>
	</div>


</div>

@code {
	[Parameter]
	public NewNoteFormModel NoteFormModel { get; set; }
}
