@using AdminApp.WASM.Models.FormModels;


<div class="container">
	<div class="pb-2 row">
		<label class="form-label col-3 col-form-label">
			Назва
		</label>
		<div class="col-9">
			<InputText @bind-Value="NewCandleForm.Name" class="form-control" />
			<ValidationMessage For="() => NewCandleForm.Name" />
		</div>
	</div>

	<div class="pb-2 row">
		<label class="form-label col-3 col-form-label">
			Опис
		</label>
		<div class="col-9">
			<InputText @bind-Value="NewCandleForm.Description" class="form-control" />
			<ValidationMessage For="() => NewCandleForm.Description" />
		</div>
	</div>

	<div class="pb-2 row">
		<label class="form-label col-3 col-form-label">
			Категорія
		</label>
		<div class="col-9">
			<InputText @bind-Value="NewCandleForm.Category" class="form-control"/>
		<ValidationMessage For="() => NewCandleForm.Category" />
			</div>
	</div>

	<div class="pb-2 row">
		<label class="form-label col-3 col-form-label">
			Фото
		</label>
		<div class="col-9">
			<!-- until photo is not supported, later change-->
			<InputText @bind-Value="NewCandleForm.PhotoLink" class="form-control" placeholder="поки недоступно" readonly />
		<ValidationMessage For="() => NewCandleForm.PhotoLink" />
	</div>
		</div>

	<div class="pb-2 row">
		<label class="form-label col-3 col-form-label">
			Собівартість
		</label>
		<div class="col-9">
			<InputNumber @bind-Value="NewCandleForm.RealCost" class="form-control"/>
		<ValidationMessage For="() => NewCandleForm.RealCost" />
			</div>
	</div>

	<div class="pb-2 row">
		<label class="form-label col-3 col-form-label">
			Ціна продажу
		</label>
		<div class="col-9">
			<InputNumber @bind-Value="NewCandleForm.SellPrice" class="form-control"/>
		<ValidationMessage For="() => NewCandleForm.SellPrice" />
			</div>
	</div>

	<div class="pb-2 row">
		<label class="form-label col-3 col-form-label">
			Час горіння
		</label>
		<div class="col-9">
			<InputNumber @bind-Value="NewCandleForm.BurningTimeMins" class="form-control"/>
		<ValidationMessage For="() => NewCandleForm.BurningTimeMins" />
			</div>
	</div>

	<div class="pb-2 row">
		<label class="form-label col-3 col-form-label">
			Висота (см)
		</label>
		<div class="col-9">
			<InputNumber @bind-Value="NewCandleForm.HeightCM" class="form-control"/>
		<ValidationMessage For="() => NewCandleForm.HeightCM" />
			</div>
	</div>

	<div class="pb-2 row">
		<label class="form-label col-3 col-form-label">
			Гніт діаметр (см)
		</label>
		<div class="col-9">
			<InputNumber @bind-Value="NewCandleForm.WickDiameterCM" class="form-control"/>
		<ValidationMessage For="() => NewCandleForm.WickDiameterCM" />
			</div>
	</div>
	
	<div class="pb-2 row">
		<label class="form-label col-3 col-form-label">
			Воску потрібно (г)
		</label>
		<div class="col-9">
			<InputNumber @bind-Value="NewCandleForm.WaxNeededGram" class="form-control"/>
		<ValidationMessage For="() => NewCandleForm.WaxNeededGram" />
			</div>
	</div>

</div>

@code {

	[CascadingParameter]
	public NewCandleFormModel NewCandleForm { get; set; } = null!;


}
