body {
    padding: 0;
}

.order-last1 {
    background-color: #c4a2a2;
}


.sylfaen-font {
    font-family: Sylfaen;
    font-size: 5vw;
}


.inner-card.animate-pulse {
    height: 20px;
    background-color: #eee;
    animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
}

@keyframes pulse {
    50% {
        opacity: .9;
    }
}


@media (min-width: 641px) {

    .index-page-image {
        width: 40%;
    }
}



@media (max-width: 640.98px) {

    .index-page-image{
        width: 100%;
    }
}