@page "/new-candle"
@using AdminApp.WASM.Application.Candle;
@using AdminApp.WASM.Application.Utility;
@using AdminApp.WASM.Pages.FormModels;
@inject NavigationManager navmanager;
@inject HttpClient hclient;
@inject CandleInteractor candleInteractor;

<h3>Нова Свічка</h3>

<EditForm Model="NewCandleForm" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit" @onsubmit:preventDefault>
	<DataAnnotationsValidator />
	<CascadingValue Value="NewCandleForm">
		<CandleFieldsTemplate/>
	</CascadingValue>

	<div>

		<button>Додати</button>
	</div>
</EditForm>

<p> @MessageResponse</p>

@code {
	public NewCandleFormModel NewCandleForm { get; set; } = new();

	public string MessageResponse { get; set; } = "";

	public async Task HandleValidSubmit()
	{
		CandleFullVM candleToAdd = NewCandleForm.ConvertToFullVM_FromFormModel();

		//var result = await hclient.PostAsJsonAsync<CandleFullVM>("api/candle?categoryId=1", candleToAdd);

		// if (result.IsSuccessStatusCode)
		// {
		// 	MessageResponse = "Свічка успішно додана.";
		// 	NewCandleForm = new();
		// 	//navmanager.NavigateTo("candles");
		// }

		// else 
		// {
		// 	MessageResponse = "вдалось додати свічку.";
		// }

		var result = await candleInteractor.CreateCandleAsync("api/candle", candleToAdd);
		if(result)
		{
			MessageResponse = "Свічка успішно додана.";
			NewCandleForm = new();
		}
		else
		{
			MessageResponse = "Не вдалось додати свічку";
		}
	}

	public void HandleInvalidSubmit()
	{
		MessageResponse = "Invalid entry";
	}

}
