@page "/new-order"
@using AdminApp.WASM.Models;
@inject OrderHandlerService orderHandler;
@inject CandleHandlerService candleHandler;

<h3>NewOrder</h3>

<EditForm Model="OrderModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
	<DataAnnotationsValidator />
	<NewOrderTemplate OrderModel="OrderModel" Candles="Candles"/>
	<div>

		<button>Додати замовлення</button>
	</div>
</EditForm>

@MessageResponse

@code {
	public NewOrderFormModel OrderModel { get; set; } = new();

	private string _url = "api/order";

	public string MessageResponse { get; set; } = "";

	public IEnumerable<CandleFullVM> Candles { get; set; } = Enumerable.Empty<CandleFullVM>();


	protected override async Task OnInitializedAsync()
	{
		Candles = await candleHandler.GetAllCandlesListAsync("api/candle?view=full");
	}

	public async Task HandleValidSubmit()
	{
		var orderToAdd = OrderModel.ConvertToFullVM_FromFormModel();

		var result = await orderHandler.CreateOrder(_url, orderToAdd);

		if(result)
		{
			MessageResponse = "Замовлення додано.";
			OrderModel = new();
		}
		else
		{
			MessageResponse = "Помилка при додаванні замовлення. Спробуйте ще раз.";
		}
	}

	public void HandleInvalidSubmit()
	{
		MessageResponse = "Некоректно введені дані.";
	}
}
