<div class="row border border-dark my-2 py-1 candle-item montserat">
	
	<div class="col-3 my-auto">
		<div class="img-candleslist placeholder placeholder-wave">
		</div>
	</div>


	<div class="col-8">
		
		<div class="row">
			<div class="col placeholder placeholder-wave">
				<span class="fw-bolder" style="color: #FCFFF3">
				</span>
			</div>
		</div>

		<div class="row">
			<div class="col small placeholder placeholder-wave">
				<span class="small play"> </span>
			</div>
		</div>

		<div class="row placeholder placeholder-wave">
			<div class="col small">
				<span class="small"> </span>
			</div>

			<div class="col">
				<span class="small"></span>
			</div>
		</div>

	</div>

	<div class="col-1 my-auto ps-0">
		<a href="/candle/" class="text-light">
			<span class="bi bi-chevron-compact-right"></span>
		</a>
	</div>

</div>