<div class="border-round my-1" style="height: 50px;">
	<div class="col-auto my-auto">
		<p class="placeholder-glow">
			<span class="placeholder col-12" style="font-size: 20px"></span>
		</p>
	</div>
</div>