<div class="" style="color: #514538; font-size: 18px;">

	<div class="row border-space py-2" style="background-color: #f7ede4 /*#e7d5c6*/; ">
		
		<div class="col-1 ps-1 pe-0">
			<span class="comfortaa fw-bold">
			</span>
		</div>

		<div class="col-8 pe-1">
			
			<div class="row pt-1">
				<div class="col placeholder placeholder-wave">
				</div>
			</div>

			<div class="row pt-1">
				<div class="col-9 placeholder placeholder-wave">
				</div>
			</div>

			<div class="row pt-1">
				<div class="col-7 placeholder placeholder-wave">
				</div>
			</div>

			<div class="row pt-1">
				<div class="col placeholder placeholder-wave">
				</div>
			</div>

		</div>

		
		<div class="col-3">
			
			<div class="row pt-1 mx-auto">
				<div class="col pe-0 placeholder placeholder-wave">
				</div>
			</div>

			<div class="row pt-1 justify-content-center">
				<div class="col-2 placeholder placeholder-wave">
				</div>
			</div>

			<div class="row pt-1 justify-content-center">
				<div class="col-6 placeholder placeholder-wave">
				</div>
			</div>
		
		</div>
	
	</div>

</div>