@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu CurrentPage="Свічки"/>
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
