<style>
  



</style>


<div class="top-row ps-3 navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Road23.Admin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<!-- DELETE HEIGHT IF WANT TO BE AS BEFORE -->
<div class="wrapper1" style="height: @HeightStyle">
    <div class="subwrapper">

<div class="nav-scrollable @NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Головна
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="candle">
                <span class="oi oi-fire" aria-hidden="true"></span> Свічки
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="order">
                <span class="oi oi-list" aria-hidden="true"></span> Замовлення
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expense">
                <span class="oi oi-euro" aria-hidden="true"></span> Витрати
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="note">
                <span class="oi oi-calendar" aria-hidden="true"></span> Календар
            </NavLink>
        </div>
    </nav>
</div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse1" : "show";
    
    
    private string HeightStyle => collapseNavMenu ? "0" : "35%";
    
    
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
