@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu PageTitleReached="Road23.Orders" CurrentPage="Замовлення" />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
